main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

/* .carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
} */
.carousel a {
  margin: 0 auto;
}

.addItem {
  opacity: 0;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #4bbf73;
  color: #fff;
  padding: 4px 5px;
  width: 70%;
  text-align: center;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  border-radius: 50px;
}
.addItem:hover {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: '#fff';
  text-align: 'center';
  font-size: '2rem';
  background: rgba(189, 192, 190, 0.6);
  z-index: 999;
}
.fontStyle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.3rem;
}
.btnn {
  background-color: #4bbf73;
  border-radius: 50px;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
}
.btnn:hover {
  background-color: #58f57f;
}
.fab:hover {
  color: #6eee9b;
}
.btnn:active {
  border: none;
}
div a {
  color: #4bbf73;
}
